<section class="heading">
  <div>
    <h1>{{ title() }}</h1>
    <p>Shared reusable list component for hospital entities.</p>
  </div>
  @if (type === 'patient') {
    <a class="add" routerLink="/dashboard/patient/add">+ Add Patient</a>
  }
  @if(type === 'staff') {
    <a class="add" routerLink="/dashboard/staff/add">+ Add Staff</a>
  }
    @if(type === 'provider') {
    <a class="add" routerLink="/dashboard/provider/add">+ Add Provider</a>
  }
   @if(type === 'biller') {
    <a class="add" routerLink="/dashboard/biller/add">+ Add Biller</a>
  }

</section>

<app-entity-list [type]="type"></app-entity-list>